<div class="text-center">
    <h1>Nightlife coordination app</h1>
    <h3>Find a bar near you and RSVP</h3>
    <p>This app was built using the Yelp fusion API</p>
    <div class="form-inline">
        <input type="text" id="search-input" class="form-control" placeholder="Where are you?">
        <button id="search-button" class="btn btn-default">Go</button>
    </div>
</div>
<div>
    <div id="list"></div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script src="/javascripts/main.js"></script>
